html, body, h1, h2, h3, h4, h5, div, span, p, a, button, form {
  font-family: "Open Sans", sans-serif
}


.logo-design{
  max-width: 150px;
  max-height: 150px;
}

.nav-design{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0f1011;
}

.container{
  width: inherit;
  padding: auto;
}

.line-design{
  background-color: #000000;
  width: 50px;
  height: 2px;
}

.btn-middle{
  text-align: center;
}

.footer-design{
  font-size: 12px;
  background: rgba(255,255,255,0.9);
  color: black;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
}

/*index.html*/
.home{
  background: url(../images/hero.jpg);
  background-size: cover;
}

.homepage-design{
  margin-top: 20vh;
}

.align-text{
  margin-top: 10vh;
  text-align: center;
}

.align-text p{
  font-size: 20px;
  padding-top: 30px;
}


/*login.html & admin.html*/
.login-design{
  background-color: rgba(215,221,229,0.75);
  width: 400px;
  /*height: 320px;*/
  height: 250px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.form-design{
  margin: 0 50px;
}

.btn-login{
  width: 100%;
}
