html, body, h1, h2, h3, h4, h5, div, span, p, a, button, form {
  font-family: "Open Sans", sans-serif
}


.logo-design{
  max-width: 150px;
  max-height: 150px;
}

.nav-design{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0f1011;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

/*overwrite*/
.container{
  width: inherit;
  padding: auto;
}

.btn-middle{
  text-align: center;
}

.footer-design{
  font-size: 12px;
  background: rgba(255,255,255,0.9);
  color: black;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-top: 20px;
}

/*index.html*/
.home{
  background: url(../images/hero.jpg);
  background-size: cover;
}

.homepage-design{
  margin-top: 10vh;
}

.align-text{
  margin-top: 10vh;
  text-align: center;
}

.align-text p{
  font-size: 20px;
  padding-top: 30px;
}

/*login.html & admin.html*/
.login-design{
  background-color: rgba(215,221,229,0.75);
  width: 400px;
  /*height: 320px;*/
  height: 300px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.form-design{
  margin: 0 50px;
}

.btn-login{
  width: 100%;
}

/*overwrite*/
.edit-eye{
  background-color: rgba(256, 256, 256);
  border-radius: 0px;
}

.image-padding{
  padding-top: 5px;
  padding-bottom: 10px;
}

/*ticketchoose.html*/
.no-topdown{
  margin-bottom: 3px;
  margin-top: 3px;
}

.slight-right{
  margin-left: 25px;
}

.ticket-image{
  border-radius: 5px;
  width: 80%;
}

.align-middle{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: auto;
}

.view-card-design{
  padding-left: 30px;
  padding-right: 30px;
}

/*ticketdetails*/
.reply-sticky{
  position: sticky;
  top: 50px;
}

.camo-button{
  border: none;
  background-color: #FFFFFF;
  font-size: 16px;
  width: 100%;
  outline: none;
}

.topdown-padding{
  margin-top: 5px;
  margin-bottom: 5px;
}


.textarea-design{
  margin-top: 5px;
  outline: none;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
}

.history-card-design{
  max-height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.user-msg{
  max-width: 60%;
  text-align: left;
  padding: 5px 10px;
  border-radius: 10px;
  /*border-width: 0.5px;
  border-style: solid;
  border-color: #989898;*/
  background-color: #F5F5F5;
}

.admin-msg{
  max-width: 60%;
  text-align: right;
  padding: 5px 10px;
  border-radius: 10px;
  /*border-width: 0.5px;
  border-style: solid;
  border-color: #313131;*/
  background-color: #0076FF;
  color: #FFFFFF;
}

.align-right{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: flex-end;
  width: auto;
}

.align-left{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
}

/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -50px;
  content: "O";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -50px;
  content: "X";
}